header nav a:any-link {
  text-decoration: none;
  padding: 0 var(--lumo-space-s);
  border-radius: var(--lumo-border-radius-m);
  outline: 0;
}

header nav a:hover {
  color: var(--lumo-header-text-color);
}

header nav a:active {
  background-color: var(--lumo-contrast-5pct);
}

header nav a:focus-visible {
  box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct);
}

header nav a[highlight] vaadin-icon {
  color: var(--lumo-primary-text-color);
}

header nav a[highlight] {
  background-color: var(--lumo-primary-color-10pct);
}


vaadin-scroller[slot="drawer"] {
  padding: var(--lumo-space-s);
}

vaadin-side-nav-item vaadin-icon {
  padding: 0;
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}

