@import url('./main-layout.css');
@import url('@fontsource/inter/index.css');

* {
        font-family: 'Inter', sans-serif !important; /* Change 'Your Font Family' to the desired font */
}

vaadin-button {
    background: white;
    color: #970011;
    border: 1px solid #970011;
}

.saveButton {
    background-color: #970011;
    color: white;
}

.headline {
    color: white;
    background: #970011;
    width: 100%;
    text-align: center;
    padding: 50px 0;
}

.outer-box {
    padding: 0;
}

.grey-background {
    background-color: rgb(245,245,245);
}

.day {
    padding: 50px;
}