@import url('./main-layout.css');
@import url('views/dashboard-view.css');
@import url('@fontsource/inter/index.css');
@import url('@fontsource/abel/index.css');

@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter-Regular.ttf") format("tff");
}
@font-face {
    font-family: "Abel";
    src: url("./fonts/Abel-Regular.ttf") format("tff");
}
html {
    --lumo-font-family: Abel;
}
* {
    font-family: Abel, sans-serif !important; /* Change 'Your Font Family' to the desired font */
}

.outer-box {
    padding: 0;
}

.grey-background {
    background-color: rgb(245,245,245);
}

.day {
    padding: 50px;
}

.chat {
    width: 100%;
}

vaadin-message-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

vaadin-message-input vaadin-button {
    width: 100px;
}

.current-user-message {
    padding-left: 50px;
}